{% extends 'base.html' %}
{% raw %}
<!-- This extends the base.html template for the p-adic calculator SPA -->
{% endraw %}

{% import 'macros.html' as macros %}

{% block title %}
  p-adic Absolute Value Calculator
{% endblock title%}

{% block script %}
  <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
  </script>
{% endblock script %}

{% block body %}
<body class="nunito-400">

  {% block header %}
  <header>
    <h1 class="center">p-adic Absolute Value Calculator</h1>
  </header>
  {% endblock header %}
  
  <hr>

  {% block main %}
  <main>
    {% block input_form_jinja %}

    <section id="form" class="app-container center">
      <!-- 
        {form} is the instantiation of InputForm defined in p_adic_controller 
        -->
        <div class="app-tile app-tile-row-1">
        <label form="p-adic_input_jinja">
          P-Adic Calculator Input Form (Jinja)
        </label>
        <p>
          Form Validated: {{ form.validate() }}
        </p>
        <form method="POST" action="" id="p-adic_input_jinja">
          <!-- 
            This generates <label id="prime"> 
            additional attributes wanted??
            -->
          {{ macros.input(form, 'prime') }}

          <!-- 
            This should generate <label id="rational">
            additional attributes wanted??
            -->
          {{ macros.input(form, 'rational') }}

          <!-- 
            submit button; from SubmitField 
           -->
          {{ form.submit }}
          </div>

          <!-- Math Expression for p_prime(rational) -->
          <div class="app-tile app-tile-row-2">
          <p>
          The {{ form.prime.data }}-adic norm of</p>
          <p>{{ form.rational.data }} is:</p>
          <p>
            <math xmlns="http://www.w3.org/1998/Math/MathML">
              <msub>
                <mi>p</mi>
                <mi>{{ form.prime.data }}</mi>
              </msub>
              <mrow>
                <mo>(</mo>
                <mi>{{ form.rational.data }}</mi>
                <mo>)</mo>
                <mo>=</mo>
              </mrow>
            </math>
            <math xmlns="http://www.w3.org/1998/Math/MathML">
              <msub>
                <mfenced open="|" close="|">
                  <mo>|</mo>
                  <mi>{{ form.rational.data }}</mi>
                  <mo>|</mo>
                </mfenced>
                <mi>{{ form.prime.data }}</mi>
              </msub>
              <mo>=</mo>
            </math>
            <!-- controller passes value of result here -->
            {% if result != None %}
              {{ result }}
            {% endif %}
          </p>
        </div>
        </form>
    </section>
    {% endblock input_form_jinja %}
    
    <hr>

    {% block references %}
    <section id="references" class="left">
      <h2>References</h2>
        <ol>
          <li>wolfram      
          </li>
          <li>p-adic Notes
          </li>
        </ol>
    </section>
    {% endblock references %}

  </main>
  {% endblock main %}
  
  <hr>
  
  {% block footer %}
  <footer>
    <p>copyright/author</p>
  </footer>
  {% endblock footer %}

</body>
{% endblock body %}
